header {
    display: flex;
    align-items: center;
    width: 60%;
    margin: 1% 20% 0 20%;
}
hr {
    border: none;
    border-top: 1px solid lightgray;
    margin: 2% 0 2% 0;
    width: 98%;
}
.logo a:hover {
    border-bottom: solid 3px green;
    color: green;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
} 
.menu a:hover{
    border-bottom: solid 3px green;
    color: green;
}
.menu a {
    direction: none;
    margin-right: 10px;
    text-decoration: none;
    font-size: 75%;
    font-weight: 550;
}

main {
    display: block;
    background-color: white;
    margin: 1% 20% 0 20%;
    width: 60%;
}
.block1 {
    display: flex;
    width: 100%;
}
.left {
    display: block;
    width: 23%;
    margin-right: 4%;
}
.leftnews {
    width: 100%;
}
.left img {
    width: 98%;
    height: auto;
}
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
main a:hover {
    color: rgb(60, 60, 222);
}
.center {
    width: 45%;
    display: block;
}
.center img {
    width: 97%;
    height: auto;
    margin-bottom: 2%;
}
.center a {
    font-size: 150%;    
}
.center a>p {
    font-size: 60%;
    color: rgb(66, 64, 64);
    font-weight: 300;
    width: 98%;
}

.right {
    display: block;
    width: 30%;
    margin-left: 4%;
}

.rightnews {
    width: 100%;
    margin-bottom: 2%;
}
.right p {
    width: 50%;
    font-size: 100%;
    font-family:Arial, Helvetica, sans-serif;
}
.right img {
    width: 40%;
    height: auto;
    margin: 4%;
}
.rightnews a {
    display: flex;
}
.block1 .rightnews:nth-child(4) img {
    border-radius: 40px;
    width: 84px;
    height: 80px;
    margin: 20px;
}

.block2 {
    display: flex;
    width: 100%;
}
.block2 .leftnews:nth-child(1) img {
    width: 113px;
    height: 247px;
}
.block2 .leftnews:nth-child(1) img:nth-child(1) {
    width: 60px;
    height: 16px;
}
.centernews a {
    display: flex;
    margin: 0 0 35px 0;

}
.centernews img {
    width: 150px;
    height: 100px;
}
.centernews a>p {
    margin: 0 0 0 15px;
    color: black;
    font-size: 18px;
    width: 65%;
    font-weight: bold;
}

.block3 {
    display: flex;
    width: 100%;
}
.left3 {
    width: 55%;
    display: block;
}
.leftnews3 a {
    display: flex;
}
.left3 img {
    width: 40%;
    height: auto;
}
.leftitems {
    display: block;
}
.leftnews3 h4 {
    margin: 0 0 2% 4%;
    font-size: 18px;
}
.leftnews3 p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 2% 4%;
}







